.section-about{
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh; 
    width: 100%; 

}
.about-section {
    width: 100%;
    max-width: 1000px;
    color: var(--secondary-color);
    text-align: center;
}

.inabout {
    font-family: var(--font-family);
    font-size: 1.25rem;
    line-height: 1.2;
    max-width: 956px;
    margin: auto
}

.contact {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    margin-top: 20px; 
}

.contact a{
    position: relative;
    margin: 0 15px;
    border-radius: 50%;
    box-sizing: border-box;
    width: 70px; 
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.1);
    color: inherit; 
    font-size: 1.8em;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
.contact a:hover {
    /*background-color: currentColor;  Cambia el fondo al color inline */
    color: #ffffff; /* Cambia el color del icono al blanco */
    box-shadow: 0 0 10px currentColor, 0 0 40px currentColor, 0 0 80px currentColor;
}
.contact a:active {
    transform: scale(0.9); 
    transition: transform 0.2s ease;
  }
  
  .contact a::after {
    content: attr(data-tooltip); 
    position: absolute;
    bottom: -38px; /* Ajusta según la posición deseada */
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000; /* Fondo del tooltip */
    color: #fff; /* Color del texto */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(-50%) translateY(10px); /* Inicialmente oculto */
}
.contact a:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(0); /* Aparece al pasar el cursor */
}


@media (min-width: 768px) {
    .inabout {
        font-size: 1.5rem;
    }
    .contact {
        flex-wrap: wrap; /* Permite que los iconos se envuelvan en múltiples líneas si no caben */
        gap: 15px; /* Reduce el espacio entre los iconos */
    }

    .contact a {
        width: 60px;
        height: 60px;
        font-size: 1.5em; /* Reduce el tamaño del icono */
    }
}

.copy-notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5e53fca4; /* Color llamativo */
    color: #f4f4f4; /* Texto blanco */
    padding: 15px 30px;
    backdrop-filter: blur(3px);
    border-radius: 13px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    animation: fade-in-out 2s ease-in-out;
    z-index: 1000; /* Asegúrate de que esté encima */
}

/* Animación para mostrar y ocultar la ventana */
@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    20% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    80% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
}





