.appbar {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: rgba(78, 45, 21, 0.24);
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    backdrop-filter: blur(3px);
    transition: transform 0.7s ease-in-out; /* Aplica transición suave */
    transform: translateY(0);
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

.appbar.visible {
    animation: slideDown 0.7s ease-in-out forwards;
}

.appbar.hidden {
    animation: slideUp 0.7s ease-in-out forwards;
}



.dark .appbar {
    background-color: rgba(140, 140, 140, 0.24);
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-links a:hover {
    color: #999999;
}

.switch-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    .nav-links {
        gap: 1rem;
    }

    .switch-container {
        gap: 0.5rem;
    }
}
/* From Uiverse.io by alfoly1988 */ 
/* The switch - the box around the slider */
/* From Uiverse.io by vinodjangid07 */ 
/* To hide the checkbox */
#themeInput {
    display: none;
  }
  
  .themeSwitch {
    display: flex;
    align-items: center;
    position: relative;
    width: 50px;
    height: 17px;
    background-color: rgb(82, 82, 82);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .2s;
  }
  
  .themeSwitch::after {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    left: 0px;
    background-color: rgb(41, 41, 41);
    border-radius: 50%;
    transition-duration: .2s;
    border: 2px solid rgb(82, 82, 82);
  }
  
  #themeInput:checked+.themeSwitch::after {
    transform: translateX(100%);
    transition-duration: .2s;
    border: 2px solid #FCEB53;
  }
  /* Switch background change */
  #themeInput:checked+.themeSwitch {
    background-color: #FCEB53;
    transition-duration: .2s;
  }
  



/* From Uiverse.io by cbolson */ 
.language-switch {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    gap: 5px; /* Espaciado entre las opciones */
    color: var(--secondary-color); /* Color del texto */
}

.language-switch .language-option {
    all: unset; /* Elimina todos los estilos predeterminados */
    cursor: pointer;
    position: relative;
    color: #999999; /* Color por defecto */
    font-size: inherit; /* Hereda tamaño de fuente del contenedor */
    font-weight: inherit; /* Hereda peso de la fuente del contenedor */
    transition: color 0.3s ease;
}

.language-switch .language-option.active {
    color: var(--secondary-color); /* Color cuando está activo */
}
.language-switch .language-option:hover {
    color: var(--secondary-color); /* Cambia el color al pasar el cursor */
}

/* Línea indicadora */
.language-switch .underline {
    position: absolute;
    bottom: -1px; /* Ajusta la distancia de la línea respecto al texto */
    height: 3px;
    width: 24px; /* Ajusta el ancho para que coincida con el texto */
    background-color: var(--secondary-color); /* Color de la línea */
    transition: transform 0.3s ease;
    transform: translateX(0);
}

/* Subrayado dinámico según el idioma activo */
.language-switch .language-option.en.active ~ .underline {
    transform: translateX(0); /* Posición inicial (EN) */
}

.language-switch .language-option.es.active ~ .underline {
    transform: translateX(35px); /* Ajusta según el tamaño del texto */
}


